*{
    margin: 0%;
    padding: 0%;
    background-color: #2969BE;
}

.container{ 
    padding-top: 6%;
}

.image-profile img{
    height: 150px;
    width: 150px;
    border-radius: 40%;
    display: block;
    margin: auto;
}

.text-profile{
    width: 30%;
    display: block;
    margin: 2% 0% 0% 32%;
    padding: 3%;
    opacity: 0.8;
    background-color: black;
    color: #fff;
}

h3, p{
    font-family: Helvetica,Arial,Verdana,sans-serif;;
    background-color: #000000;
    line-height: 200%;
}


@media only screen and (max-width: 900px){
    .container-profile{
        width: 90%;
    }
}